.productos {
  display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: stretch
}

.producto {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 220px;
}

.producto img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.producto h3 { margin: 10px 0 5px; }
.producto p { color: gray; }

/* Botón general (Agregar al carrito) */
.producto > button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 8px;
}
.producto > button:hover { background: #333; }

/* Botones de talles */
.talles {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.talles .btnTalle {
  background: #fff;
  border: 1px solid #111;
  color: #111;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.talles .btnTalle:hover {
  background: #111;
  color: #fff;
}

@media(max-width:600px){
  .productos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: stretch;
  }
}
